
body {
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
}
/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    background-color: #F77495;
    overflow: hidden;
    justify-content: space-between;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    border-bottom: 3px solid #EECB06;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
  
    color: white;
    border-bottom: 3px solid #EECB06;
  }
  nav {
    display: flex;
    align-items: center;
    
  }
  .logo {
    width: 100px;
  }

  .hero_img {
    width: 100%;
    height: 600px;
    object-fit: cover;

  }

  .about_section_img {
    width: 500px;
  }
  .story_section img {
    width: 700px;
  }

  .design_section_img {
    width: 500px;
  }

  .about_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 30px;
    gap: 60px;
    place-items: center;
  
  }
  .story_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 30px;
    gap: 60px;
    place-items: center;
    margin-right: 500px;
    margin-left: 400px;
    font-size: 17px;
    margin-top: 75px;
  
  }


  .about_section h2, .about_section p {
    grid-row: 1;
    grid-column: 1;
  }
  .about_section h2 {
    align-self: flex-start;
    font-weight: bold;
    font-size: 30px;
  }
  .about_section p {
    align-self: flex-end;
    width: 500px;
    justify-self: center;
  }

  .story_section h2, .story_section p {
    grid-row: 1;
    grid-column: 1;
  }

  .story_section h2 {
    align-self: flex-start;
    margin-bottom: 30px;
  }

  .story_section p {
    align-self: flex-end;
    width: 500px;
    justify-self: center;
    margin-top: 70px;
  }

  .designs_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .designs_section h2, .designs_section p {
    text-align: center;
  }

  .creators_section {
   color: black;
   justify-content: center;
   margin: 100px 500px 0px 500px;
   text-align: center;
   font-weight: 17px;
  
  }

  .creators_section img{
    width: 500px;
  }
  

  footer h3 {
    color: #ffffff ;
    padding: 25px 50px;
    }
    footer h3 a:hover{
        text-decoration: underline;
    }
    footer a {
    color: #ffffff ;
    text-decoration: none;
    }
    footer a:hover {
      border-bottom: 3px solid #EECB06;
      color: black;
    }
    footer .social img {
        padding-top: 15px;
        width: 50px;
    }
    footer {
        background-color: #F77495;
        padding: 25px 50px;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }