/* @media only screen and (min-width: 600px) { */
    /* :root {
        /* change the values below to your colors from your palette: https://coolors.co/f77495-eecb06-c9c9c9-ffffff-000000 */
        /* --primary-color: #F77495;
        --secondary-color: #EECB06;
        --accent1-color: #C9C9C9;
        --accent2-color: white;
        --accent3-color: black; */
    /* } 
    */
    body, h1, h2, h3, h4, h5, h6, ul, li,p {
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    body {
        font-family: 'Playfair Display', serif;
        font-family: 'Poppins', sans-serif;
        display: grid;


        
    }

.div_header{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    background-color: #F77495;


}
.logo {
    width: 200px;
}
.logo_div {
    grid-column: 1/2;
    grid-row: 1/2;
}

.nav_div {
    grid-column: 2;
    grid-row: 1/2;
}
    /* header {
        display: grid;
        grid-template-columns: 150px auto;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    } */

    .nav_header a{
        text-align: center;
        text-decoration: none;
        padding: 35px;
        color: black;
        display: block;
    }
    
    .nav_header {
        justify-content: space-around;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .nav_header a:hover {
        background-color: #EECB06;
    }
    .logo {
        background-color: white;
        border-radius: 5px;
    }

    img {
        width: 400px;
        
        border: 5px solid #F77495;
    }
    /* Style the header */
    .div_header {
        padding: 10px 16px;
        color: #f1f1f1;
    }
    
    /* Page content */
    .content {
        padding: 16px;
    }
    
    /* The sticky class is added to the header with JS when it reaches its scroll position */
    .sticky {
        position: fixed;
        top: 0;
        width: 100%
    }
    
    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
        padding-top: 100px;
    }

    /* Add a black background color to the top navigation */
    .topnav {
    background-color: #333;
    overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    }

    .topnav a:hover {
    border-bottom: 3px solid rgb(204, 50, 50);
    }

    .topnav a.active {
    border-bottom: 3px solid rgb(204, 50, 50);
    }



